@font-face {
  font-family: "Archivo Black";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
}
@media (max-width: 900px) {
  .skills__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .skills__grid {
    grid-template-columns: 1fr;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  font-family: "Open Sans ", sans-serif;
}
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__logo {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.header__menu {
  display: flex;
  font-family: "Open Sans ", sans-serif;
  gap: 40px;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #d6d6d6;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.header__link:hover {
  color: white;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  min-height: 85vh;
  padding: 60px 0;
}
.hero__content {
  flex: 1;
}
.hero__title {
  line-height: 1.1;
}
.hero__description {
  max-width: 450px;
}
.hero__card {
  width: min(100%, 420px);
  max-width: 420px;
  height: 900px;
  perspective: 1000px;
  position: relative;
  flex-shrink: 0;
}
.hero__card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.hero__card:hover .hero__card-inner {
  transform: rotateY(180deg);
}
.hero__card-front {
  transform: rotateY(0deg);
  z-index: 2;
}
.hero__card-back {
  z-index: 1;
}
.hero__card-front,
.hero__card-back {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.hero__card-back {
  background: #2d2d2d;
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  transform: rotateY(180deg);
}

.button_CV {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 32px;
  background: #5b5bff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.9s;
}
.button_CV:hover {
  transform: translateY(-3px);
  background: #7474ff;
}
.skills__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #fff;
  position: relative;
  display: inline-block;
}
.skills__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 3px;
  background: #25c7e8;
}
.skills__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: center;
}
.skill__card {
  text-align: center;
}
.skill-card__circle {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: conic-gradient(
    from -40deg,
    #26c6da 0%,
    #3333ff calc(var(--value) * 1%),
    transparent calc(var(--value) * 1%)
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-card__circle::before {
  content: "";
  position: absolute;
  width: 105px;
  height: 105px;
  background: #1b1b1b;
  border-radius: 50%;
}
.skill-card__circle span {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.skill-card__name {
  font-size: 14px;
  font-weight: 700;
  color: #dcdcdc;
}

.icons {
  width: 20px;
  height: 20px;
}
.icons__title {
  width: 25px;
  height: 25px;
}
.skills__category-grid {
  display: grid;
  padding-top: 60px;
  grid-template-columns: repeat(3, 3fr);
  gap: 50px;
  align-items: center;
}
.point {
  list-style: none;
}
.list__tools {
  list-style: none;
  text-decoration: none;
  padding-left: 10px;
}
.text__title {
  font-size: 20px;
  padding-top: 0;
}
